# Google OAuth (NextAuth)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# NextAuth
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000

# Mapbox
NEXT_PUBLIC_MAPBOX_TOKEN=

# AWS DynamoDB
DYNAMODB_TABLE_NAME=PlanUltra
AWS_REGION=us-east-1
